@model IEnumerable<PrintHouse.Models.subCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}



<main id="main">
    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>3D Printers</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Printers</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Our Portfolio Section -->
    <!-- ======= Portfolio Section ======= -->
    <section class="portfolio">
        <div class="container">
            @*<div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">FDM</li>
                        <li data-filter=".filter-web">SLS</li>
                        <li data-filter=".filter-card">SLA</li>
                    </ul>
                </div>
            </div>*@

            <div class="row portfolio-container"
                 data-aos="fade-up"
                 data-aos-easing="ease-in-out"
                 data-aos-duration="500">
                @foreach (var item in Model)
                {
                   
                    <div class="col-lg-4 col-md-6 portfolio-wrap filter-@item.filter">
                        <div class="card h-100">
                            <a href="~/Products/Index/@item.subCategoryId">
                                <img src="~/Content/assets/img/@item.subCategoryImage"
                                     class="card-img-top img-fluid"
                                     style="height: 200px; object-fit: cover;"
                                     alt="" />
                            </a>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">@item.subCategoryName</h5>
                                <p class="card-text" style="height: 100px; overflow: hidden;">@item.subCategoryDescription</p>
                                <div class="portfolio-info mt-auto">
                                    <a href="~/Content/assets/img/@item.subCategoryImage"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox"
                                       title="@item.subCategoryDescription">
                                        <i class="bx bx-plus"></i>
                                    </a>
                                    <a href="~/Products/Index/@item.subCategoryId" class="btn btn-primary">See More</a>
                                </div>
                            </div>
                        </div>
                    </div>




                }
          
            </div>
        </div>
    </section>
    <!-- End Portfolio Section -->
</main>