USE [PrintHouse]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/18/2023 2:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 3/18/2023 2:13:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 3/18/2023 2:13:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 3/18/2023 2:13:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 3/18/2023 2:13:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 3/18/2023 2:13:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[customerFirstName] [varchar](20) NULL,
	[customerLastName] [varchar](20) NULL,
	[customerPhone] [varchar](20) NULL,
	[customerImage] [varchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 3/18/2023 2:13:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cartId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [nvarchar](128) NULL,
	[productId] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[totalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[cartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/18/2023 2:13:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [varchar](50) NULL,
	[categoryDescription] [varchar](max) NULL,
	[categoryImage] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintenances]    Script Date: 3/18/2023 2:13:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenances](
	[maintenanceId] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [datetime] NULL,
	[userId] [nvarchar](128) NULL,
	[maintencanceOrderDetails] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maintenanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 3/18/2023 2:13:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[orderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NULL,
	[productId] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/18/2023 2:13:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [datetime] NULL,
	[totalAmount] [decimal](10, 2) NULL,
	[userId] [nvarchar](128) NULL,
	[shippingId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/18/2023 2:13:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[productName] [varchar](50) NULL,
	[productDescription] [varchar](max) NULL,
	[productImage1] [varchar](50) NULL,
	[productImage2] [varchar](50) NULL,
	[productImage3] [varchar](50) NULL,
	[productPrice] [decimal](10, 2) NULL,
	[categoryId] [int] NULL,
	[subCategoryId] [int] NULL,
	[stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 3/18/2023 2:13:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[reviewId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [nvarchar](128) NULL,
	[productId] [int] NULL,
	[comment] [varchar](max) NULL,
	[rating] [int] NULL,
	[show] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[reviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 3/18/2023 2:13:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[shippingId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [nvarchar](128) NULL,
	[address] [text] NULL,
	[postalCode] [int] NULL,
	[city] [varchar](20) NULL,
	[firstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[shippingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subCategories]    Script Date: 3/18/2023 2:13:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subCategories](
	[subCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[subCategoryName] [varchar](50) NOT NULL,
	[subCategoryImage] [varchar](50) NULL,
	[subCategoryDescription] [varchar](max) NULL,
	[categoryId] [int] NULL,
	[filter] [varchar](20) NULL,
 CONSTRAINT [PK__subCateg__F820646930424E34] PRIMARY KEY CLUSTERED 
(
	[subCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Customer')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Email]) VALUES (N'1cba744c-bf71-4d15-a9e5-73f8c6f88a7a', N'2', N'sohaib@gmail.com')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Email]) VALUES (N'8c08c5b8-1434-4523-b2e3-1c775805b2af', N'1', N'admin@gmail.com')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Email]) VALUES (N'de1e1e04-be03-4a58-b3e3-991efaf2c574', N'2', N'yazeed@gmail.com')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [customerFirstName], [customerLastName], [customerPhone], [customerImage]) VALUES (N'1cba744c-bf71-4d15-a9e5-73f8c6f88a7a', N'sohaib@gmail.com', 0, N'AKf9zn6kTY1FroX3ENf7BdNFi0wqIo4DSw80Nv6pZ94Oo0hFduxrTFrgR/dXm6doDA==', N'4c4acbef-a56b-47d2-b7af-e400fbef43d4', NULL, 0, 0, NULL, 1, 0, N'sohaib@gmail.com', N'Sohaib', N'Alrousan', N'0778929863', N'yazeed.jpeg')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [customerFirstName], [customerLastName], [customerPhone], [customerImage]) VALUES (N'8c08c5b8-1434-4523-b2e3-1c775805b2af', N'admin@gmail.com', 0, N'AJuBFDtpL4P8/p1xcV32NYjih2RG7eXBH8hbjOOcTFB0Q+U9dDz4he2wffWXQezUZQ==', N'e7c39284-b6ff-46dc-98ce-c2f1e17b18cb', NULL, 0, 0, NULL, 1, 0, N'admin@gmail.com', N'Yazeed', N'Aldamen', N'0778929863', N'1625439499428.jfif')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [customerFirstName], [customerLastName], [customerPhone], [customerImage]) VALUES (N'de1e1e04-be03-4a58-b3e3-991efaf2c574', N'yazeed@gmail.com', 0, N'AMSVx0CEyTNaSNyDujSKWLZ08jbBStrXJ3jmIBf+/XYKlQcVEL06bPBUY8jzB3bRqA==', N'35a607c2-5bd8-408b-8ff2-ef91928b3bb4', NULL, 0, 0, NULL, 1, 0, N'yazeed@gmail.com', N'Yazeed', N'Aldamen', N'0778929863', N'yazeed.jpeg')
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([cartId], [userId], [productId], [quantity], [price], [totalPrice]) VALUES (1, N'de1e1e04-be03-4a58-b3e3-991efaf2c574', 1, 3, CAST(550.00 AS Decimal(10, 2)), CAST(1650.00 AS Decimal(10, 2)))
INSERT [dbo].[Cart] ([cartId], [userId], [productId], [quantity], [price], [totalPrice]) VALUES (2, N'de1e1e04-be03-4a58-b3e3-991efaf2c574', 1, 1, CAST(550.00 AS Decimal(10, 2)), CAST(550.00 AS Decimal(10, 2)))
INSERT [dbo].[Cart] ([cartId], [userId], [productId], [quantity], [price], [totalPrice]) VALUES (3, N'de1e1e04-be03-4a58-b3e3-991efaf2c574', 1, 10, CAST(550.00 AS Decimal(10, 2)), CAST(5500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([categoryId], [categoryName], [categoryDescription], [categoryImage]) VALUES (1, N'Printers', N' Our 3D printers category offers a wide range of cutting-edge
 technologies and high-quality machines to help you bring
 your creative vision to life.', N'3d.jpg')
INSERT [dbo].[Categories] ([categoryId], [categoryName], [categoryDescription], [categoryImage]) VALUES (2, N'Consumables', N' Our consumables category offers a wide range of premium
 quality 3D printing filaments to choose from. Whether you''re
  looking for ABS, PLA, PETG, Nylon, TPU, or any other
 filament material, we have you covered.', N'Home-bg.jpeg')
INSERT [dbo].[Categories] ([categoryId], [categoryName], [categoryDescription], [categoryImage]) VALUES (3, N'Parts', N'The Parts category on Print House offers a wide range of
 high-quality, reliable 3D printer parts to keep your machine
  running smoothly.', N'parts.png')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([productId], [productName], [productDescription], [productImage1], [productImage2], [productImage3], [productPrice], [categoryId], [subCategoryId], [stock]) VALUES (1, N'qwerty', N'An ideal pick for 3D printing newbies or those strapped for space, the Replicator Mini Compact is the smallest MakerBot 3D printer yet. Plus, it''s easy to set up and use, and is capable of high-quality prints.', N'TheMakerBotReplicatorMini2.png', N'TheMakerBotReplicatorMini2.png', N'TheMakerBotReplicatorMini2.png', CAST(550.00 AS Decimal(10, 2)), 1, 1, 56)
INSERT [dbo].[Products] ([productId], [productName], [productDescription], [productImage1], [productImage2], [productImage3], [productPrice], [categoryId], [subCategoryId], [stock]) VALUES (2, N'qwerty', N'qwerty', N'TheMakerBotReplicatorMini2.png', N'TheMakerBotReplicatorMini2.png', N'TheMakerBotReplicatorMini2.png', CAST(900.00 AS Decimal(10, 2)), 1, 2, 30)
INSERT [dbo].[Products] ([productId], [productName], [productDescription], [productImage1], [productImage2], [productImage3], [productPrice], [categoryId], [subCategoryId], [stock]) VALUES (3, N'qwert', N'An ideal pick for 3D printing newbies or those strapped for
 space, the Replicator Mini Compact is the smallest MakerBot 3D
 printer yet. Plus, it''''s easy to set up and use, and is capable
 of high-quality prints.', N'TheMakerBotReplicatorMini2.png', N'TheMakerBotReplicatorMini2.png', N'TheMakerBotReplicatorMini2.png', CAST(550.00 AS Decimal(10, 2)), 1, 1, 50)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([reviewId], [userId], [productId], [comment], [rating], [show]) VALUES (1, N'1cba744c-bf71-4d15-a9e5-73f8c6f88a7a', 1, N'Great Printer', 8, NULL)
INSERT [dbo].[Reviews] ([reviewId], [userId], [productId], [comment], [rating], [show]) VALUES (2, N'de1e1e04-be03-4a58-b3e3-991efaf2c574', 2, N'Works Perfectly', 7, NULL)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[subCategories] ON 

INSERT [dbo].[subCategories] ([subCategoryId], [subCategoryName], [subCategoryImage], [subCategoryDescription], [categoryId], [filter]) VALUES (1, N'FDM', N'fdm.png', N'Fused Deposition Modeling printers are ideal for creating functional prototypes, complex geometries, and end-use parts with high strength and durability', 1, N'app')
INSERT [dbo].[subCategories] ([subCategoryId], [subCategoryName], [subCategoryImage], [subCategoryDescription], [categoryId], [filter]) VALUES (2, N'SLS', N'SLSCategory_800x600.jpg', N'Selective Laser Sintering printers are known for their ability to create highly detailed and complex parts with superior mechanical properties, including strength, durability, and heat resistance', 1, N'web')
INSERT [dbo].[subCategories] ([subCategoryId], [subCategoryName], [subCategoryImage], [subCategoryDescription], [categoryId], [filter]) VALUES (4, N'SLA', N'SLACategory.png', N'Stereolithography printers are a type of 3D printer that use a laser to cure liquid resin into solid objects, layer by layer. SLA printers are known for their high precision, resolution, and surface quality, making them ideal for creating intricate and detailed models and prototypes', 1, N'card')
SET IDENTITY_INSERT [dbo].[subCategories] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_customers_customerImage]  DEFAULT ('User-avatar.png') FOR [customerImage]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Maintenances]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[Orders] ([orderId])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([shippingId])
REFERENCES [dbo].[Shipping] ([shippingId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([categoryId])
REFERENCES [dbo].[Categories] ([categoryId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__subCat__5DCAEF64] FOREIGN KEY([subCategoryId])
REFERENCES [dbo].[subCategories] ([subCategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__subCat__5DCAEF64]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[subCategories]  WITH CHECK ADD  CONSTRAINT [FK__subCatego__categ__4BAC3F29] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Categories] ([categoryId])
GO
ALTER TABLE [dbo].[subCategories] CHECK CONSTRAINT [FK__subCatego__categ__4BAC3F29]
GO
