USE [PrintHouse]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[customerFirstName] [varchar](20) NULL,
	[customerLastName] [varchar](20) NULL,
	[customerPhone] [varchar](20) NULL,
	[customerImage] [varchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cartId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [nvarchar](128) NULL,
	[productId] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[totalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[cartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [varchar](50) NULL,
	[categoryDescription] [varchar](max) NULL,
	[categoryImage] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Name] [varchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[subject] [nvarchar](50) NULL,
	[message] [varchar](max) NULL,
	[contact_Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[contact_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAQ]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAQ](
	[faqId] [int] IDENTITY(1,1) NOT NULL,
	[question] [text] NULL,
	[answer] [text] NULL,
 CONSTRAINT [PK_FAQ] PRIMARY KEY CLUSTERED 
(
	[faqId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Featured]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Featured](
	[featuredId] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NULL,
 CONSTRAINT [PK_Featured] PRIMARY KEY CLUSTERED 
(
	[featuredId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintenances]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenances](
	[maintenanceId] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [datetime] NULL,
	[userId] [nvarchar](128) NULL,
	[maintencanceOrderDetails] [varchar](255) NULL,
	[productId] [int] NULL,
	[done] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[maintenanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[orderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NULL,
	[productId] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [datetime] NULL,
	[totalAmount] [decimal](10, 2) NULL,
	[userId] [nvarchar](128) NULL,
	[shippingId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[productName] [varchar](50) NULL,
	[productDescription] [varchar](max) NULL,
	[productImage1] [varchar](50) NULL,
	[productImage2] [varchar](50) NULL,
	[productImage3] [varchar](50) NULL,
	[productPrice] [decimal](10, 2) NULL,
	[categoryId] [int] NULL,
	[subCategoryId] [int] NULL,
	[stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[reviewId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [nvarchar](128) NULL,
	[productId] [int] NULL,
	[comment] [varchar](max) NULL,
	[rating] [int] NULL,
	[show] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[reviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[shippingId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [nvarchar](128) NULL,
	[address] [text] NULL,
	[postalCode] [int] NULL,
	[city] [varchar](20) NULL,
	[firstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[shippingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subCategories]    Script Date: 5/8/2023 12:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subCategories](
	[subCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[subCategoryName] [varchar](50) NOT NULL,
	[subCategoryImage] [varchar](50) NULL,
	[subCategoryDescription] [varchar](max) NULL,
	[categoryId] [int] NULL,
	[filter] [varchar](20) NULL,
 CONSTRAINT [PK__subCateg__F820646930424E34] PRIMARY KEY CLUSTERED 
(
	[subCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Customer')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Email]) VALUES (N'1cba744c-bf71-4d15-a9e5-73f8c6f88a7a', N'2', N'sohaib@gmail.com')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Email]) VALUES (N'44432f00-7127-4afd-9919-462e3ac555b9', N'2', N'Hassan@hassan.com')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Email]) VALUES (N'8c08c5b8-1434-4523-b2e3-1c775805b2af', N'1', N'admin@gmail.com')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [customerFirstName], [customerLastName], [customerPhone], [customerImage]) VALUES (N'1cba744c-bf71-4d15-a9e5-73f8c6f88a7a', N'sohaib@gmail.com', 0, N'AKf9zn6kTY1FroX3ENf7BdNFi0wqIo4DSw80Nv6pZ94Oo0hFduxrTFrgR/dXm6doDA==', N'4c4acbef-a56b-47d2-b7af-e400fbef43d4', NULL, 0, 0, NULL, 1, 0, N'sohaib@gmail.com', N'Sohaib', N'Alrousan', N'0778929863', N'yazeed.jpeg')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [customerFirstName], [customerLastName], [customerPhone], [customerImage]) VALUES (N'44432f00-7127-4afd-9919-462e3ac555b9', N'Hassan@hassan.com', 0, N'AO6JpFDMaur8+1SB8DLbqY6rl61u48XRhOHjptrLLAygAnKhsPkJczVXoFCFrRo7fQ==', N'bc133844-6a15-4069-be87-46da3ad59d44', NULL, 0, 0, NULL, 1, 0, N'Hassan@hassan.com', N'Hassan', N'Hassan', N'0778929863', N'User-avatar.png')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [customerFirstName], [customerLastName], [customerPhone], [customerImage]) VALUES (N'8c08c5b8-1434-4523-b2e3-1c775805b2af', N'admin@gmail.com', 0, N'AGqnQuO0EgbWh8S4Rp+NXA5z2q5mSGPDuHbhhXKjDW8u3It7OjeW3WVMt/wtyFi/hw==', N'2a7c50d3-c803-49ba-994d-526cbba17f71', NULL, 0, 0, NULL, 1, 0, N'admin@gmail.com', N'Yazeed', N'Aldamen', N'0778489672', N'yazeed.jpeg')
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([cartId], [userId], [productId], [quantity], [price], [totalPrice]) VALUES (2067, N'8c08c5b8-1434-4523-b2e3-1c775805b2af', 1, 1, CAST(550.00 AS Decimal(10, 2)), CAST(550.00 AS Decimal(10, 2)))
INSERT [dbo].[Cart] ([cartId], [userId], [productId], [quantity], [price], [totalPrice]) VALUES (2082, N'1cba744c-bf71-4d15-a9e5-73f8c6f88a7a', 1, 1, CAST(550.00 AS Decimal(10, 2)), CAST(550.00 AS Decimal(10, 2)))
INSERT [dbo].[Cart] ([cartId], [userId], [productId], [quantity], [price], [totalPrice]) VALUES (2083, N'1cba744c-bf71-4d15-a9e5-73f8c6f88a7a', 1016, 1, CAST(1800.00 AS Decimal(10, 2)), CAST(1800.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([categoryId], [categoryName], [categoryDescription], [categoryImage]) VALUES (1, N'Printers', N' Our 3D printers category offers a wide range of cutting-edge
 technologies and high-quality machines to help you bring
 your creative vision to life.', N'3d.jpg')
INSERT [dbo].[Categories] ([categoryId], [categoryName], [categoryDescription], [categoryImage]) VALUES (2, N'Consumables', N' Our consumables category offers a wide range of premium
 quality 3D printing filaments to choose from. Whether you''re
  looking for ABS, PLA, PETG, Nylon, TPU, or any other
 filament material, we have you covered.', N'Home-bg.jpeg')
INSERT [dbo].[Categories] ([categoryId], [categoryName], [categoryDescription], [categoryImage]) VALUES (3, N'Parts', N'The Parts category on Print House offers a wide range of
 high-quality, reliable 3D printer parts to keep your machine
  running smoothly.', N'parts.png')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[FAQ] ON 

INSERT [dbo].[FAQ] ([faqId], [question], [answer]) VALUES (1, N'What is 3D printing?
', N'3D printing is a manufacturing process that creates three-dimensional objects by building them layer-by-layer from a digital model. This is done using a 3D printer, which reads the digital design file and uses it as instructions for creating the physical object.')
INSERT [dbo].[FAQ] ([faqId], [question], [answer]) VALUES (2, N'What materials can be used in 3D printing?
', N'There are many materials that can be used for 3D printing, including plastics, metals, ceramics, and even some types of food. The specific materials available will depend on the type of 3D printer being used, as well as the desired properties of the finished object.')
INSERT [dbo].[FAQ] ([faqId], [question], [answer]) VALUES (3, N'How long does it take to print an object?
', N'The time it takes to print an object can vary widely depending on the size and complexity of the object, as well as the type of printer and materials being used. Small, simple objects may only take a few minutes to print, while larger and more intricate designs can take several hours or even days to complete.')
SET IDENTITY_INSERT [dbo].[FAQ] OFF
GO
SET IDENTITY_INSERT [dbo].[Featured] ON 

INSERT [dbo].[Featured] ([featuredId], [productId]) VALUES (1, 1015)
INSERT [dbo].[Featured] ([featuredId], [productId]) VALUES (2, 1016)
INSERT [dbo].[Featured] ([featuredId], [productId]) VALUES (3, 1019)
SET IDENTITY_INSERT [dbo].[Featured] OFF
GO
SET IDENTITY_INSERT [dbo].[Maintenances] ON 

INSERT [dbo].[Maintenances] ([maintenanceId], [orderDate], [userId], [maintencanceOrderDetails], [productId], [done]) VALUES (5, CAST(N'2023-04-15T00:00:00.000' AS DateTime), N'1cba744c-bf71-4d15-a9e5-73f8c6f88a7a', N'sdfaadsfa', 2, 0)
INSERT [dbo].[Maintenances] ([maintenanceId], [orderDate], [userId], [maintencanceOrderDetails], [productId], [done]) VALUES (8, CAST(N'2023-05-05T10:59:52.590' AS DateTime), N'1cba744c-bf71-4d15-a9e5-73f8c6f88a7a', N'sdfaadsfa', 1, 0)
INSERT [dbo].[Maintenances] ([maintenanceId], [orderDate], [userId], [maintencanceOrderDetails], [productId], [done]) VALUES (11, CAST(N'2023-05-05T11:14:03.123' AS DateTime), N'ec88c350-4cf7-49d6-93c6-783fdd214ecf', N'sdfaadsfa', 1, 0)
SET IDENTITY_INSERT [dbo].[Maintenances] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([orderDetailId], [orderId], [productId], [quantity], [price]) VALUES (6, 5, 1, 3, CAST(1650.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([orderDetailId], [orderId], [productId], [quantity], [price]) VALUES (7, 5, 3, 4, CAST(2200.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([orderDetailId], [orderId], [productId], [quantity], [price]) VALUES (8, 6, 1, 3, CAST(1650.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([orderId], [orderDate], [totalAmount], [userId], [shippingId]) VALUES (5, CAST(N'2023-03-18T12:37:46.027' AS DateTime), CAST(3850.00 AS Decimal(10, 2)), N'1cba744c-bf71-4d15-a9e5-73f8c6f88a7a', 3)
INSERT [dbo].[Orders] ([orderId], [orderDate], [totalAmount], [userId], [shippingId]) VALUES (6, CAST(N'2023-03-18T16:53:55.080' AS DateTime), CAST(1650.00 AS Decimal(10, 2)), N'1cba744c-bf71-4d15-a9e5-73f8c6f88a7a', 3)
INSERT [dbo].[Orders] ([orderId], [orderDate], [totalAmount], [userId], [shippingId]) VALUES (7, CAST(N'2023-03-18T16:56:34.367' AS DateTime), CAST(1650.00 AS Decimal(10, 2)), N'1cba744c-bf71-4d15-a9e5-73f8c6f88a7a', 3)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([productId], [productName], [productDescription], [productImage1], [productImage2], [productImage3], [productPrice], [categoryId], [subCategoryId], [stock]) VALUES (1, N'TheMakerBotReplicatorMini2', N'An ideal pick for 3D printing newbies or those strapped for space, the Replicator Mini Compact is the smallest MakerBot 3D printer yet. Plus, it''s easy to set up and use, and is capable of high-quality prints.', N'TheMakerBotReplicatorMini2.png', N'TheMakerBotReplicatorMini2.jpeg', N'TheMakerBotReplicatorMini3.jpeg', CAST(1400.00 AS Decimal(10, 2)), 1, 1, 98)
INSERT [dbo].[Products] ([productId], [productName], [productDescription], [productImage1], [productImage2], [productImage3], [productPrice], [categoryId], [subCategoryId], [stock]) VALUES (3, N'TheMakerBotReplicatorMini2', N'An ideal pick for 3D printing newbies or those strapped for
 space, the Replicator Mini Compact is the smallest MakerBot 3D
 printer yet. Plus, it''''s easy to set up and use, and is capable
 of high-quality prints.', N'TheMakerBotReplicatorMini2.png', N'TheMakerBotReplicatorMini2.jpeg', N'TheMakerBotReplicatorMini3.jpeg', CAST(1400.00 AS Decimal(10, 2)), 1, 4, 48)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([reviewId], [userId], [productId], [comment], [rating], [show]) VALUES (5, N'1cba744c-bf71-4d15-a9e5-73f8c6f88a7a', 1, N'Great service Im satisfied', 5, 1)
INSERT [dbo].[Reviews] ([reviewId], [userId], [productId], [comment], [rating], [show]) VALUES (6, N'de1e1e04-be03-4a58-b3e3-991efaf2c574', 1, N'Great for everyday work', 5, 1)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipping] ON 

INSERT [dbo].[Shipping] ([shippingId], [userId], [address], [postalCode], [city], [firstName], [lastName], [email], [phone]) VALUES (1, N'de1e1e04-be03-4a58-b3e3-991efaf2c574', N'Hatem Al-Taa''i Street', 21961, N'Irbid', N'Yazeed', N'Ahmad', N'yazeed@gmail.com', N'0778929863')
INSERT [dbo].[Shipping] ([shippingId], [userId], [address], [postalCode], [city], [firstName], [lastName], [email], [phone]) VALUES (3, N'1cba744c-bf71-4d15-a9e5-73f8c6f88a7a', N'Hatem Al-Taa''i Street', 21961, N'Irbid', N'Sohaib', N'Alrousan', N'sohaib@gmail.com', N'0778929863')
INSERT [dbo].[Shipping] ([shippingId], [userId], [address], [postalCode], [city], [firstName], [lastName], [email], [phone]) VALUES (4, N'f56472f1-c330-48d3-98dd-c3e8e6b7ded5', N'Hatem Al-Taa''i Street', 21961, N'Ajloun', N'Mohammad', N'Sawalha', N'sawalha@gmail.com', N'0778929863')
SET IDENTITY_INSERT [dbo].[Shipping] OFF
GO
SET IDENTITY_INSERT [dbo].[subCategories] ON 

INSERT [dbo].[subCategories] ([subCategoryId], [subCategoryName], [subCategoryImage], [subCategoryDescription], [categoryId], [filter]) VALUES (1, N'FDM', N'fdm.png', N'Fused Deposition Modeling printers are ideal for creating functional prototypes, complex geometries, and end-use parts with high strength and durability', 1, N'app')
INSERT [dbo].[subCategories] ([subCategoryId], [subCategoryName], [subCategoryImage], [subCategoryDescription], [categoryId], [filter]) VALUES (2, N'SLS', N'SLSCategory_800x600.jpg', N'Selective Laser Sintering printers are known for their ability to create highly detailed and complex parts with superior mechanical properties, including strength, durability, and heat resistance', 1, N'web')
INSERT [dbo].[subCategories] ([subCategoryId], [subCategoryName], [subCategoryImage], [subCategoryDescription], [categoryId], [filter]) VALUES (4, N'SLA', N'SLACategory.png', N'Stereolithography printers are a type of 3D printer that use a laser to cure liquid resin into solid objects, layer by layer. SLA printers are known for their high precision, resolution, and surface quality, making them ideal for creating intricate and detailed models and prototypes', 1, N'card')
SET IDENTITY_INSERT [dbo].[subCategories] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_customers_customerImage]  DEFAULT ('User-avatar.png') FOR [customerImage]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Featured]  WITH CHECK ADD  CONSTRAINT [FK_Featured_Products] FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
GO
ALTER TABLE [dbo].[Featured] CHECK CONSTRAINT [FK_Featured_Products]
GO
ALTER TABLE [dbo].[Maintenances]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Maintenances]  WITH CHECK ADD  CONSTRAINT [FK_Maintenances_Products] FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
GO
ALTER TABLE [dbo].[Maintenances] CHECK CONSTRAINT [FK_Maintenances_Products]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[Orders] ([orderId])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([shippingId])
REFERENCES [dbo].[Shipping] ([shippingId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([categoryId])
REFERENCES [dbo].[Categories] ([categoryId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__subCat__5DCAEF64] FOREIGN KEY([subCategoryId])
REFERENCES [dbo].[subCategories] ([subCategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__subCat__5DCAEF64]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[subCategories]  WITH CHECK ADD  CONSTRAINT [FK__subCatego__categ__4BAC3F29] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Categories] ([categoryId])
GO
ALTER TABLE [dbo].[subCategories] CHECK CONSTRAINT [FK__subCatego__categ__4BAC3F29]
GO
