@model PrintHouse.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}



<main style="margin-top:50px">
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <a href="~/Home/Index"
                               class="logo d-flex align-items-center w-auto">
                                <img src="~/Content/assets/img/print house logo.png"
                                     alt=""
                                     style="width: 100px; height: 50px" />
                            </a>
                        </div>
                        <!-- End Logo -->

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">
                                        Create an Account
                                    </h5>
                                    <p class="text-center small">
                                        Enter your personal details to create account
                                    </p>
                                </div>

                                @*<form class="row g-3 needs-validation">*@
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "row g-3 needs-validation", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary("", new { @class = "text-danger" })

                                    <div class="col-12">
                                        <label>First Name</label>
                                        <input type="text" name="customerFirstName" id="customerFirstName" value="" class="form-control" required />


                                        <div class="invalid-feedback">
                                            Enter your name!
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label>Last Name</label>
                                        <input type="text" name="customerLastName" id="customerLastName" value="" class="form-control" required />


                                        <div class="invalid-feedback">
                                            Enter your last name!
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@
                                        <input type="email" name="Email" id="Email" value="" class="form-control" required />

                                        <div class="invalid-feedback">
                                            Please enter a valid Email adddress!
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                                        <label>Password</label>
                                        @*@Html.PasswordFor(m => m.Password, new { @class = "form-control" })*@
                                        <input type="password" name="Password" id="Password" value="" class="form-control" required />

                                        <div class="invalid-feedback">
                                            Please enter your password!
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                                        <label>Confirm Password</label>
                                        @*@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })*@
                                        <input type="password" name="ConfirmPassword" id="ConfirmPassword" value="" class="form-control" required />

                                        <div class="invalid-feedback">
                                            Retype your password!
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label>Phone</label>
                                        <input type="text" name="customerPhone" id="customerPhone" value="" class="form-control" required />



                                        <div class="invalid-feedback">
                                            Enter your phone!
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <input type="submit" class="btn btn-dark w-100" value="Register" />

                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">
                                            Already have an account?
                                           @Html.ActionLink("Log In","Login","Account")
                                        </p>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>