@model IEnumerable<PrintHouse.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}



<main id="main">
    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Our Products</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Products</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Our Portfolio Section -->
    <div class="row">
        <div class="col-lg-2">
            <section>
                <div class="container">
                    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                    {
                        <div class="mb-3">
                            <label for="minPrice" class="form-label">Minimum Price:</label>
                            <input type="text" name="minPrice" id="minPrice" class="form-control" style="margin-bottom: 0;">
                        </div>

                        <div class="mb-3">
                            <label for="maxPrice" class="form-label">Maximum Price:</label>
                            <input type="text" name="maxPrice" id="maxPrice" class="form-control" style="margin-bottom: 0;">
                        </div>

                        <button type="submit" class="btn btn-primary mt-3">Filter Products</button>
                    }
                </div>
            </section>
        </div>
        <div class="col-lg-10">

            @if (Model != null && Model.Any())
            {<!-- ======= Portfolio Section ======= -->
                <section class="portfolio">
                    <div class="container">
                        <!-- <div class="row">
                  <div class="col-lg-12">
                    <ul id="portfolio-flters">
                      <li data-filter="*" class="filter-active">All</li>
                      <li data-filter=".filter-app">App</li>
                      <li data-filter=".filter-card">Card</li>
                      <li data-filter=".filter-web">Web</li>
                    </ul>
                  </div>
                </div> -->

                        <div class="row portfolio-container"
                             data-aos="fade-up"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="500">
                            @foreach (var item in Model)
                            {


                                <div class="col-lg-3 col-md-6 portfolio-wrap">
                                    <div class="card h-100">
                                        <a href="~/Products/SingleProduct/@item.productId">
                                            <img src="~/Content/assets/img/@item.productImage1"
                                                 class="card-img-top img-fluid"
                                                 style="height: 200px; object-fit: cover;"
                                                 alt="" />
                                        </a>
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">@item.productName</h5>
                                            <p class="card-text" style="height: 100px; overflow: hidden;">@item.productDescription</p>
                                            <div class="portfolio-info mt-auto">
                                                <p>@item.productPrice JOD</p>

                                                <a href="~/Content/assets/img/@item.productImage1"
                                                   data-gallery="portfolioGallery"
                                                   class="portfolio-lightbox"
                                                   title="@item.productDescription">
                                                    <i class="bx bx-plus"></i>
                                                </a>
                                                <a href="~/Products/SingleProduct/@item.productId" class="btn btn-primary">See More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                </section>
                <!-- End Portfolio Section -->

            }
            else
            {
                <p>No products found.</p>
            }
        </div>
    </div>


</main>
